@charset "utf-8";
html{
  height: 100%;
}
body {
  image-rendering: -webkit-optimize-contrast; /* webkit */
  image-rendering: -moz-crisp-edges; /* Firefox */

  -webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
  text-align: center;
  font-family: sans-serif;
  position:relative;
}
body.gradient {
background-image: linear-gradient(bottom, rgb(226,242,255) 43%, rgb(232,250,255) 72%, rgb(231,245,247) 86%);
background-image: -o-linear-gradient(bottom, rgb(226,242,255) 43%, rgb(232,250,255) 72%, rgb(231,245,247) 86%);
background-image: -moz-linear-gradient(bottom, rgb(226,242,255) 43%, rgb(232,250,255) 72%, rgb(231,245,247) 86%);
background-image: -webkit-linear-gradient(bottom, rgb(226,242,255) 43%, rgb(232,250,255) 72%, rgb(231,245,247) 86%);
background-image: -ms-linear-gradient(bottom, rgb(226,242,255) 43%, rgb(232,250,255) 72%, rgb(231,245,247) 86%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.43, rgb(221,232,255)),
	color-stop(0.72, rgb(221,234,255)),
	color-stop(0.86, rgb(221,235,255))
);

}
#viewport {
    display:none;
		overflow:hidden; /* Occlude elements outside viewport! */
		background-color:#000;
    position:relative;
    left:50%;
    margin-top:100px;
    margin-left:-320px;
		width:640px;
		height:360px;
		background-color:#ffe3f3;
		border:1px solid #ff94c9;
	}
#wall {
		/* Default settings by code:
		 *	position: relative;
		 *	cursor: move;
		 */
}
#wall ._tile {
			/* Default settings by code:
			 * position: absolute,
			 * left: [auto],
			 * top: [auto],
			 * width: [set by constructor],
			 * height: [set by constructor],
			 * overflow: hidden
			 */
			font-size:36px;
			font-weight:bold;
			color:#000;
}
#container{
  width:100%;
  margin:0 auto;
  overflow:hidden;
}
#logo{
  display:block;
  margin:20px auto;
  width:135px;
  height:92px;
  background:transparent url(../images/logo.png);
  left: -10px;
  position: relative;
}
/* navigation */
	
nav[role="navigation"] ul li {
	float: left;
	width: 50%;
	margin: 14px 0 0 0;
	}
nav[role="navigation"] ul li.last {
	margin-right: 0;
	}
nav[role="navigation"] ul li a {
	display: block;
	float: left;
	width: 100%;
	font-size: 1em;
	line-height: 1.3em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	}
 body.about  nav[role="navigation"] ul li a strong,
 body.ru_about  nav[role="navigation"] ul li a strong {
    color: rgba(21, 214, 111, 0.6);
 }
nav[role="navigation"] ul li a strong {
	display: block;
	padding: 0;
	font-family: "Whitney SSm A", "Whitney SSM B", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: rgba(91, 114, 179, 0.5);
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
	     -o-transition: color 0.2s ease-in-out;
	        transition: color 0.2s ease-in-out;
	}
   body.about  nav[role="navigation"] ul li a em,
   body.ru_about  nav[role="navigation"] ul li a em {
    color: rgba(21, 214, 111, 0.46);
 }

nav[role="navigation"] ul li a em {
	display: block;
	font-size: .95em;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	letter-spacing: 0;
	color: rgba(91, 114, 179, 0.35);
	-webkit-transition: color 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out;
	     -o-transition: color 0.2s ease-in-out;
	        transition: color 0.2s ease-in-out;
	}
nav[role="navigation"] ul li a:hover strong,
nav[role="navigation"] ul a.active strong {
	color: rgba(91, 114, 179, 1);
	}
nav[role="navigation"] ul li a:hover em,
nav[role="navigation"] ul a.active em {
	color: rgba(91, 114, 179, 0.7);
	}
 body.about  nav[role="navigation"] ul li a:hover strong,
 body.about nav[role="navigation"] ul a.active strong,
 body.ru_about  nav[role="navigation"] ul li a:hover strong,
 body.ru_about nav[role="navigation"] ul a.active strong {
    color: rgba(21, 214, 111, 1);
 }
 body.about  nav[role="navigation"] ul li a:hover em,
 body.about nav[role="navigation"] ul a.active em,
 body.ru_about  nav[role="navigation"] ul li a:hover strong,
 body.ru_about nav[role="navigation"] ul a.active strong {
    color: rgba(21, 214, 111, 0.7);
 }

#start{
  -moz-border-radius: 18px; /* from vector shape */
  -webkit-border-radius: 18px; /* from vector shape */
  border-radius: 18px; /* from vector shape */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: #4c307b; /* layer fill content */
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.11); /* drop shadow */
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.11); /* drop shadow */
  box-shadow: 0 2px 5px rgba(0,0,0,.11); /* drop shadow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient fill */
  background-image: -moz-linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%); /* gradient fill */
  background-image: -o-linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%); /* gradient fill */
  background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%); /* gradient fill */
  background-image: linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%); /* gradient fill */
  color: #e5e5e5; /* text color */
  text-shadow: 0 1px 0 rgba(24,10,48,.75); /* drop shadow */

  font-size: 31px;
  text-transform:uppercase;
  font-family: "Futura New";
  height:50px;
  width:200px;
  line-height:50px;
  display:block;
  font-weight:700;
  margin:50px auto;
  cursor:pointer;
}
      
nav{
overflow: hidden;
width: 600px;
margin: 20px auto;
}

nav ul{
  padding: 0px;
}
#promo{
  width:100%;
  height:200px;
background-color: #221d1d; /* layer fill content */
margin-top:60px;
padding:60px 0px 110px;
  }
#promo .text{
  font-size: 40px;
  text-transform:uppercase;
  color: #e5e5e5;
  font-weight:600;
  letter-spacing:2px;
}
#content{
  font-family: "Futura New";

}
.photo-wrapper{
position: relative;
float: left;
margin: 0px 20px 50px;}
.photo-tape{
  width: 100%;
height: 25px;
background: 
transparent url('http://static.tumblr.com/g8b5dgd/1dFlxow8g/photo-tape-bg.png') no-repeat top center;
position: absolute;
top: -13px;
left: 0;
}
.photo-span{
overflow: hidden;
width: 100%;
display: block;
}
a.gallery_img{
  font-weight: bold;
  color: #777;
  text-decoration: none;
  text-align: right;
  margin: 8px 8px 16px 8px;
  text-transform: uppercase;
  font-size: 11px;
  width: 784px;
display: block;
margin: 0px auto;
box-shadow: 0px 0px 2px rgba(50, 50,50, 0.6), inset 0px 0px 8px rgba(50, 50, 50, 0.1);
padding: 20px 20px 10px;
}
a.gallery_img_next{
  position:relative;
  /*width: 784px;*/
  border-radius: 3px;
  overflow: hidden;
  display: block;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
/*display: block;*/
/*margin: 0px auto;*/
}
.gal_img{
  /*border-radius: 3px;*/
/*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);*/
  float: left;
  
}
.jcarousel {
    position: relative;
    overflow: hidden;
    /* You need at least a height, adjust this to your needs */
    width: 100%;
    height: 153px;
    margin: 50px auto 20px;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
      font-weight: bold;
  color: #777;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;

}
.jcarousel li span.title{
  position:absolute;
  right:5px;
  bottom:44px;
  display:none;
}
.jcarousel li span.view_icon{
  position:absolute;
  left:5px;
  bottom:44px;
  display:none;
}

.jcarousel li {
    float: left;
    height: 198px;
    text-align: center;
    margin:0px 50px;
    position:relative;
}
.jcarousel li a span{
  position:absolute;
  bottom:5px;
  right:5px;
  color:#fff;
}
.jcarousel-nav {
    text-align: center;
}
.jcarousel-nav a {
    padding: 0 10px;
} 
.jcarousel-toggle {
    text-align: center;
    padding-top: 20px;
}
h2{
  font-size:38px;
  margin-bottom:30px;
}
body.about h2,
body.ru_about h2{
  color: #e5e5e5;
}
.post{
  padding:20px 40px;
  margin:0 auto;
  width:600px;
  text-align:left;
  font-size:20px;
  line-height:30px;
}
body.about .post,
body.ru_about .post{
  background: #252525;
  color: #e5e5e5;
}
body.about,
body.ru_about{
  background: #252525;
}
body.about .post a,
body.ru_about .post a {
    color: rgba(21, 214, 111, 1);
    text-decoration:underline;
}
.letterbox{
  padding:0px 0px 0px 0px;
  margin-left:-20px;
  background: #000;
  border-radius:2px;
  overflow:hidden;
  width:540px;
  height:320px;

}
.letterbox.single{
  width:500px;
  height:300px;
}
.letterbox.full{
  width:100%;
  position: absolute;
left: 0px;
right: 0px;
margin: 0px;
}
.letterbox.single{
  /*width:100%;*/
  /*position: absolute;*/
/*left: 0px;*/
/*right: 0px;*/
margin: 0 auto;
}
.letterbox img{
  margin:0 auto;
  padding:0px;
  display:block;
}
#footer {
  padding: 50px 0px;
  font-family: "Futura New";
  font-size:15px;
  color: #888;
}

body.about #footer,
body.ru_about #footer{
  color: #e5e5e5;
}
body a.lang_icon{
  width:12px;
  height:12px;
  position:absolute;
  right:10px;
  top:10px;
  display:block;
  padding:10px 0px;
  background-image: url("/images/lang_icon.png");
  background-repeat:no-repeat;
  background-position: -12px 0px;
}
body a.lang_icon.ru{
  background-position:0px 0px;
}


@media only screen 
and (max-width : 600px){
  nav {
    width: 100%;
  }
  .jcarousel li {
    margin:0px 20px;
}

}
