
<div id="footer">
  <a href="#" class="mail">@</a> <a href="#" id="twitter" class="icon-twitter icon"></a>  <a href="#" class="icon-facebook icon"></a> <a href="#" class="icon-vk icon"></a>
  <a href="#" class="icon-skype icon"></a> <a href="#" class="icon-tumblr icon"></a> <a href="#" class="icon-google-plus icon"></a>


 <span>megapont · pixels never die</span>
</div>

