---
title: Welcome to Megapont
---
<div id="container">
  <%= partial "/partials/lang_switch" %>
  <%= partial "/partials/navigation" %>

  <div id="content">
    <div class="post">
      <h2>About</h2>
      
      <p>
        I’m Jonathan Ogden (also known as Oggy). A Web Designer at The Message and a lover of all things creative. In my spare time I make videos, design things, write music, drink tea (pictured) and some other stuff.
      </p>
      <p>  
        I’ve lived in Salford (near Manchester) in the UK all my life. I started getting into creative hobbies at the age of 10, starting with some little flash animations. A couple of years later I got into making films too, then music, then graphic design, then web design, then music again. I still dabble in all of them although web design is my full time job now.
      </p>
      <p>  
      If you want you can download our <a> pdf presentation</a> or send us <a href="">email</a>.
      </p>
      <h5>Follow us on...</h5>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Tumblr</a></li>
        <li><a href="#">Dribbble</a></li>
      </ul>
      <h5>Press info</h5>
      <p>If you want to mention us in blog post or article, give us a hint, we provide you any information or answer your questions.</p>
      <h5>Testimonials</h5>
      <p>Lookatme – they are simply the best, was pleasure to work with</p>
      <p>BBDO – fast & perfect</p>

      <h5>Jobs</h5>
      <p>We'll be very happy if we find soulmate who have passion in making beautiful art and making money on it, send us email with your works or just ask us if you want to work with us, but don't have experience</p>
      <h5>Our friends</h5>
      <p>Here friends whose works we are appreciate, check them out!</p>
      <ul>
        <li><a href="#">onemanstartup</a></li>
        <li><a href="#">Weasly Grizzly</a></li>
        <li><a href="#">Balamoot</a></li>
      </ul>
    </div>
  </div>
</div>


<div id="viewport">
  <div id="wall"></div>
</div>


<%= partial "/partials/footer" %>

