---
title: Welcome to Megapont
---
<div id="container">
  <%= partial "/partials/lang_switch" %>
  <%= partial "/partials/navigation" %>


  <div id="about">

    <div id="promo">
      <span class="text">
        Stay around energetic<br/> people or get involved in<br/>  active projects
      </span>
      <a id="start">
        Start
       </a>
    </div>
  </div>
</div>


<div id="viewport">
  <div id="wall"></div>
</div>


